@media(min-width: 0) {
    :host {
        .toggle-map {
            right: 10px;
            bottom: 15px;
            position: absolute;
            .toggle-map-button {
				        border: 2px solid #8799af;
				        border-radius: 3px;
                width: 50px;
                padding: 0 5px;
                height: 46px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50px 50px;
                margin-left: 5px;
                display: inline-block;
                cursor: pointer;
                &:hover{
                    border: 2px solid #339482;
                }
                &.nostra {
                    background-image: url(/assets/basemap/basemap_nostra_normal.png);
                }
                &.nostra:hover {
                    background-image: url(/assets/basemap/basemap_nostra_hover.png);
                }
                &.street {
                    background-image: url(/assets/basemap/basemap_street_normal.png);
                }
                &.street:hover {
                    background-image: url(/assets/basemap/basemap_street_hover.png);
                }
                &.satellite {
                    background-image: url(/assets/basemap/basemap_satellite_normal.png);
                }
                &.satellite:hover {
                    background-image: url(/assets/basemap/basemap_satellite_hover.png);
                }
                &.topo {
                    background-image: url(/assets/basemap/basemap_topo_normal.png);
                }
                &.topo:hover {
                    background-image: url(/assets/basemap/basemap_topo_hover.png);
                }
            }
            .div-toggle-map-button {
                display: inline-block;
            }
        }
    }
}

@media(min-with: 440px) and (max-height: 440px) {
    :host {
        .toggle-map {
            right: 60px;
        }
    }
}
