<div class="toggle-map">
	<div class="div-toggle-map-button" [ngStyle]="{display:divList}">
		<div #btnNostra class="toggle-map-button nostra" [ngStyle]="{display:btnNostraStyle}"
			(click)="onToggleMapClick('nostra')" nz-tooltip nzTooltipPlacement="left" [nzTitle]="onMouseHold('nostra')">
		</div>
		<div #btnStreet class="toggle-map-button street" [ngStyle]="{display:btnStreetStyle}"
			(click)="onToggleMapClick('street')" nz-tooltip [nzTitle]="onMouseHold('street')">
		</div>
		<div #btnSatellite class="toggle-map-button satellite" [ngStyle]="{display:btnSatelliteStyle}"
			(click)="onToggleMapClick('satellite')" nz-tooltip [nzTitle]="onMouseHold('satellite')">
		</div>
		<div #btnTopo class="toggle-map-button topo" [ngStyle]="{display:btnTopoStyle}"
			(click)="onToggleMapClick('topo')" nz-tooltip [nzTitle]="onMouseHold('topo')">
		</div>
	</div>
	<div #btnOpenList class="toggle-map-button select" [ngClass]="btnSelectClass" (click)="onOpenListClick()" nz-tooltip [nzTitle]="onMouseHold(btnSelectClass)">
	</div>

</div>
