@import url('https://js.arcgis.com/4.12/esri/css/main.css');

::ng-deep {
  .esri-view {
      width: 800px;
      height: 600px;
      position: relative;
    }
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
