<div #mapViewNode>
  <div class="center" *ngIf="loading==true">
    <mat-progress-spinner diameter=50 mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>
  <app-toggle-map></app-toggle-map>

</div>
<br/>
<button nz-button [nzSize]="size" nzType="primary" (click)="gotoPoint()">gotoPoint</button>&nbsp;
<button nz-button [nzSize]="size" nzType="primary" (click)="cmt()">แสดงความคิดเห็น</button>&nbsp;
<button nz-button [nzSize]="size" nzType="primary" (click)="res()">สงวนสิทธิ์คำร้อง</button>

